/* Stylistics import */
/* ----------------- */
@import "general/language.css"; /* les variables. Example: couleurs, espacements, etc */
@import "general/base.css"; /* des règles de base */
@import "general/rhythm.css"; /* des règles de base pour gerer le rhythm */
@import "general/typography.css"; /* des règles de base pour la typographie */
@import "pages/dashboard.css"; /* des règles spécifiques à une page de page personnelle de l'utilisateur */
@import "pages/profile.css"; /* des règles spécifiques à une page de page de profil */
@import "pages/add-wine.css"; /* des règles spécifiques à une page d'ajout de vin */




/* ------Composantes ----------- */
@import "components/logo.css";
@import "components/icon.css";
@import "components/form.css";
@import "components/search-input.css";
@import "components/select-input.css";
@import "components/button.css";
@import "components/modal.css";
@import "components/pagination.css";
@import "components/mobile-menu.css";
@import "components/desktop-menu.css";

/* ------Atomes ----------- */
@import "atomes/utility.css";
@import "atomes/input-error.css";
@import "atomes/wine-quantity.css";

/* ------Layouts ---------- */
@import "layouts/main-layout.css";
@import "layouts/black-layout.css";
@import "layouts/white-layout.css";

