.button {
    font-family: var(--font-accent);
    font-size: var(--font-current);
    padding: var(--spacing-micro) var(--spacing-thinnest);
    color: var(--primary);
    background-color: var(--accent-light);
    border: var(--border-slimmest) solid var(--primary);
/*     min-width: 100%; */
    margin: var(--spacing-thinnest) 0;
    cursor: pointer;
}

.button.register {
    background-color: var(--accent-dark);
    color: var(--accent-light);
}

.button.red {
    color: var(--secondary);
    background-color: var(--wine-red);
    border: var(--border-slimmest) solid var(--wine-red);
}

.button.dark {
    color: var(--tertiary);
    background-color: var(--primary);
}

.button.small {
    font-size: var(--font-shortest);
    font-weight: 400;
    padding: var(--spacing-pico);
}

.button-add-wine {
    font-size: var(--font-short);
    background-color: var(--tertiary);
    color: var(--primary);
    font-weight: 900;
    border: none;
    cursor: pointer;
    padding: var(--spacing-nano);
}

button.invisible{
    padding:0;
    margin:0;
    background-color: transparent;
    border: none;
}