form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    font-family: var(--font-base);
}

input:not([type="checkbox"]) {
    /* font-size: var(--font-current); */
    line-height: var(--line-height-normal);
    color: var(--primary);
    background-color: var(--secondary);
    /* min-width: var(--dimension-tiny); */
    /* margin: auto; */
    /* align-items: center; */
    padding-left: var(--spacing-thinnest);
    border-radius: var(--spacing-pico);
}

input:focus {
    background-color: white;
}

label {
    display: block;
    line-height: var(--line-height-tighter);
}

input[type=number] {
    font-size: var(--font-tall);
    border: none;
    max-width: var(--spacing-thinner);
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]:focus {
    outline: none;
    border: none;
}
