.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-broad);
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 100dvh;
    padding: var(--spacing-thin);
    font-family: var(--font-accent);
    transition: var(----ease-in-quad);
    z-index: 1;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
}

/* section cellier et le reste */
.mobile-menu section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    margin-top: var(--spacing-broad);
}

.mobile-menu .__active {
    border-bottom: 4px solid var(--required);
}

.mobile-menu .__active a {
    color: var(--required);
}

.mobile-menu .__logout {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    font-size: var(--font-current);
    cursor: pointer;
}
