.modal {
    position: fixed;
    top:0;
    left:0;
    min-width: 100dvw;
    min-height: 100dvh;
    background-color: var(--semi-transparent-overlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    --color-error: var(--error-black);
    --color-success: var(--pink);
}


.modal .__container {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 0 var(--spacing-thin);
    padding: var(--spacing-thin);
    max-width: var(--max-width);
}


.modal .__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    font-size: var(--font-current);
}


.modal-buttons{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--spacing-thin) */
}

@media (min-width: 600px) {
    .modal .__container {
        margin: auto;
    }
}

