.navigation-menu {
    position: absolute;
    top: 10;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-broad);
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 100dvh;
    padding: var(--spacing-thin);
    font-family: var(--font-accent);
}

.navigation-menu a {
    color: white;
    text-decoration: none;
}

/* section cellier et le reste */
.navigation-menu section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    margin-top: var(--spacing-broad);
}
