.add-wine {
    font-family: var(--font-accent);
}
.add-wine-header {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-thin);
}

.add-wine-header h2 {
    color: var(--secondary);
}

.add-wine-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-wine-search, .add-wine-filters {
    padding: var(--spacing-thin);
}

.add-wine-search > label{
    color: var(--secondary);
    font-family: var(--font-base);
}
