.add-wine {
    font-family: var(--font-accent);
    min-height: 100vh;
    color: var(--secondary);
    padding: var(--spacing-thin)
}
.add-wine-header {
    display: flex;
    flex-direction: column;
}

.add-wine-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.add-wine-search {
    margin-top: var(--spacing-thin);
}

.add-wine-search > label{
    color: var(--secondary);
    font-family: var(--font-base);
}

.add-wine-filters {
    margin-top: var(--spacing-thin);
}

.add-wine-filters-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-nano);
    margin-top: var(--spacing-micro);
}

.add-wine-list {
    margin-top: var(--spacing-thin);
}

.add-wine-filters-list > a {
    color: var(--secondary);
    font-size: var(--font-shortest);
}

.add-wine-success {
    color: var(--wine-rose);
    font-size: var(--font-short);
    text-align: center;
    margin-top: var(--spacing-thin);
}

/* composant pour ajouter bouteille de vin au cellier d'utilisateur*/
.button-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.button-content label {
    line-height: 0;
}

.quantity-arrows {
    padding-right: var(--spacing-micro);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinner);
    align-items: center;
    justify-content: center;
}

.quantity-arrows > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.quantity-arrows > button > svg {
    display: block;
}
