
/* BlackLayout.vue et WhiteLayout.vue */

.auth-container {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    color: var(--secondary);
    justify-content: space-evenly;
    font-family: var(--font-accent);
}

.auth-container a {
    color: var(--accent-secondary);
    font-size: var(--font-tall);
}


/* WhiteLayout.vue */
.white-container {
    background-color: var(--secondary);
    color: var(--primary);
    min-height: 100vh;
}



/* Login.vue */
.black-container {
    background-color: var(--primary);
    align-items: center;
}   

/* ForgotPassword.vue */

.white-main-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-broad);
    margin: var(--spacing-thin) 0;
    padding: var(--spacing-thin);
}

.white-header {
    padding: var(--spacing-thin);
}

.white-text>p {
    margin: var(--spacing-thin) 0 0 0;
}



/* style de page d'inscription de l'utilisateur */

.guest-register {
    font-family: var(--font-accent);
    background-color: var(--secondary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-page-title {
    font-size: var(--font-tallest);
    color: var(--primary);
    margin-bottom: var(--spacing-thinnest);
}












