





/* liste des celliers de l'utilisateur */
.dashboard .__cellar {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-thinnest);
    align-items: center;
    justify-content: space-between;
}



/* contenu de cellier  */
.cellar-content {
    display: grid;
    gap: var(--spacing-thinnest);
    padding: 0;
}
.cellar-content > li {
    min-height: clamp(100px, 20dvh, 30dvh);
    padding: var(--spacing-thinnest) 0;
    writing-mode: horizontal-tb;
    display: grid;
    grid-template-columns: minmax(80px, auto) 1fr;
    gap: var(--spacing-thinnest);
}

/* carte vine dans le cellier */
.wine-image {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    padding-left: var(--spacing-nano);

}
.wine-image > img {
    max-height: clamp(100px, 20dvh, 30dvh);
    object-fit: contain;
}
.wine-info {
    display: block;
    flex-shrink: 1;
}
.wine-info > p {
    margin-top: var(--spacing-pico);
    min-width: 0;
}
.wine-quantity {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
}
.wine-quantity > div{
    font-size: var(--font-tallest);
}

.wine-type {
  position: absolute;
  left: 5px;
  width: var(--spacing-thinnest);
  height: var(--spacing-thinnest);
  border-radius: 50%;
  border: var(--border-slimmest) solid var(--primary);
  padding: var(--spacing-nano);
}

.wine-details {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-thinnest);
    gap: var(--spacing-micro);
}
