.user-account {
    font-family: var(--font-accent);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    padding: var(--spacing-thinnest);
    background-color: var(--secondary);
}
/* liste des celliers de l'utilisateur */
.user-cellars {
    display: flex;
    flex-direction: column;
}

/* contenu de cellier  */
.cellar-content {
    display: grid;
    gap: var(--spacing-thinnest);
    padding: 0;
}
.cellar-content > li {
    min-height: 150px;
    padding: var(--spacing-thinnest) 0;
    border-block-end: solid;
    writing-mode: horizontal-tb;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-thinnest);
}

/* carte vine dans le cellier */
.wine-image {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}
.wine-image > img {
    max-height: 250px;
}
.wine-info {
    display: block;
    flex-grow: 3;
}
.wine-info > p {
    margin-top: var(--spacing-pico);
}
.wine-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.wine-quantity > div{
    padding:  var(--spacing-thinnest);
    font-size: var(--font-tallest);
}
.wine-image {
    position: relative;
}

.wine-type {
  position: absolute;
  left: 0px;
  width: var(--spacing-thinnest);
  height: var(--spacing-thinnest);
  border-radius: 50%;
  border: var(--border-slimmest) solid var(--primary);
}

.wine-details {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-nano);
}
