/* J'ai mis le css ici en attendant, d'avoir les variables globale avec importation */

/* GuestLayout.vue */

.application-logo {
    width: 4rem; 
    height: 4rem; 
    object-fit: contain;
    fill: currentColor; 
}

.div-guest {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 1rem;
}

.name {
    font-size: 2rem; 
    font-weight: 600; 
    color: #eef0f4;
}



/* Login.vue */
.body-login {
    background-color: rgba(45, 45, 45, 1);
}   

.form-class {
    margin-top: 75px;   
}


.div-link {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.link-register {
    margin-left: 1rem; /* ms-4 */
    color: #f9f8f6;
}

.link {
    color: rgb(250, 247, 247);
}


.text-white {
    color: white;
    margin-left: 0.5rem;
    font-size: 0.875rem;
}

.text-input {
    margin-top: 0.25rem; 
    display: block; 
    width: 100%; 
}

.inputlabel {
    margin-top: 2rem;
}

.checkbox {
    display: block;
    margin-top: 2rem;
    margin-right: 60px; /* Réduisez la marge gauche ou mettez-la à 0 */
    text-align: left; 

}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* InputLabel.vue */
.input-label{
    display: block;
    font-weight: 500;
    font-size: 0.875rem;
    color: white;

}

/* TextInput.vue */

.input {
    border-color: white;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: auto;
}

.logo-image {
    margin-top:20px;
    /* padding: 15px;
    margin-bottom: 20px;  */

}



/* PrimaryButton.vue */

.input-label2{
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    border-radius: 0.375rem;
    width: 100%;
    margin: auto;
    color: rgb(14, 13, 13);
    background-color: rgb(238, 238, 195);
    /* border: 1px solid rgb(217, 159, 44); */
}


/*  */
/* InputError.vue */

.input-error {
    display: block;
    font-size: 0.875rem;
    color: #e5a53e;
    margin-top: 0.25rem;    
}

.error-icon{
    color: #e5a53e;
    font-size: 20px;
   
}