
/* GuestLayout.vue */

.auth-container {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    color: var(--secondary);
    justify-content: space-evenly;
}

/* Login.vue */
.body-login {
    background-color: var(--primary);
    align-items: center;
    font-family: var(--font-accent);
}   

.body-login a {
    color: var(--accent-light);
    font-size: var(--font-tall);
}









