/* Page profil */
.profile .__inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile .__delete-text {
    margin: var(--spacing-thinner) 0;
    background-color: var(--wine-rose);
    padding: var(--spacing-thinner) var(--spacing-thinnest);
}