
/* GuestRegisterLayout.vue */

.guest-register {
    font-family: var(--font-accent);
    background-color: var(--secondary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-page-title {
    font-size: var(--font-tallest);
    color: var(--primary);
    margin-bottom: var(--spacing-thin);
}
