/*  */
/* InputError.vue */

.black-layout .input-error {
    color: var(--error-black);
    margin-bottom: var(--spacing-nano);
    max-width: var(--dimension-small);
    font-family: var(--font-accent);
}

.white-layout .input-error {
    color: var(--error-white);
    margin-bottom: var(--spacing-nano);
}


.input-icon {
    color: var(--accent-error);
}

.white-layout .input-success {
    color: var(--pink);
    margin-bottom: var(--spacing-thinnest);
    font-family: var(--font-accent);
    font-size: var(--font-tall);
}

.modal .input-error {
    color: var(--error-black);
    margin-bottom: var(--spacing-nano);
    font-family: var(--font-accent);
    font-size: var(--font-current);
}


