/*  c'est un fichier vide, parceque le répertoire n'est pas sauvé sur 
le git quand il ne contient pas de dossiers... de ce que j'ai compris


 Nous pourrons voir ensemble quel serait la meilleur structure pour ces dossiers. 
 Par example, nous pourrions créer une structure qui fait mirroire à la structure 
 des repertoire de composantes vue pour organiser les css correspondants*/


 .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-thin);
    align-items: center;
}

.text-accent {
    color: var(--accent-medium);
}

.white {
    color: var(--secondary);
}