.quantity-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-thinnest);
}
.update-wine-quantity {
    font-size: var(--font-tallest);
}
