/* BlackLayout.vue */
.black-layout {
    background-color: var(--primary);
    color: var(--secondary);
}
.black-layout .__layout {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--font-accent);
}

.black-layout .__max-width {
    max-width: var(--max-width);
    margin: auto;
    padding: var(--spacing-thinnest);
}

.black-layout a {
    color: var(--accent-secondary);
    font-size: var(--font-tall);
}


/* Login.vue */


.black-layout .__content {
    max-width: 500px;
    margin: auto;
}