.main-layout {
    background-color: var(--secondary);
    --color-error: var(--error-white);
    --color-success: var(--pink);
}

.main-layout .__layout {
    font-family: var(--font-accent);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    padding: var(--spacing-thinnest);
    min-height: 100dvh;
    max-width: var(--max-width);
    margin: auto;
}

.main-layout .__main-container {
    display: flex;
    flex-direction: column;
}

.main-layout .__dashboard-gap {
    gap: var(--spacing-thinnest);
}

.main-layout .__profile-gap {
    gap: var(--spacing-broad);
}


