/* WhiteLayout.vue */
.white-layout {
    background-color: var(--secondary);
}
.white-layout .__layout {
    color: var(--primary);
    min-height: 100dvh;
    padding: var(--spacing-thinnest);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-broad);
    max-width: 500px;
    margin: auto;
}

.white-layout .__main-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thin);
    /* padding: var(--spacing-thin); */
}

.white-layout .__text>p {
    margin: var(--spacing-thin) 0 0 0;
}









