button {
    font-family: var(--font-accent);
    font-size: var(--font-current);
    font-weight: 600;
    line-height: var(--line-height-normal);
    color: var(--primary);
    background-color: var(--accent-light);
    border: 1px solid var(--primary);
    min-width: 100%;
}

