form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thinnest);
    align-items: center;
    font-family: var(--font-base);
}

input:not([type="checkbox"]) {
    font-size: var(--font-current);
    line-height: var(--line-height-normal);
    color: var(--primary);
    background-color: var(--secondary);
    min-width: var(--dimension-tiny);
    margin: auto;
    padding-left: var(--spacing-thinnest);
    border-radius: var(--spacing-pico);
}

input:focus {
    background-color: white;
}


