input[type="search"] {
    font-size: var(--font-current);
    line-height: var(--line-height-normal);
    color: var(--primary);
    background-color: var(--secondary);
    min-width: 100%;
    padding-left: var(--spacing-nano);
}
input[type="search"]:focus {
    outline: none;
    background-color: var(--accent-light);
}
input[type="search"]::placeholder {
    padding-left: var(--spacing-nano);
}
